page-login {
    .box-login{
        position: fixed;
        top:10%;
        bottom: 15%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
      }
      
        ion-input {
          ::placeholder{
          text-align: center;
          color: white;
          }
          // color: white;
          font-size: 15px;
          border-radius: 20px 20px;
          background: rgb(179, 204, 236);
          margin-top: 5%;
        }
        
        .borda-circular{
          border-radius: 20px 20px;
          margin-top: 15%;
        }

      .footer{
        margin-top: 15%;
      }
      
}