page-login {
    .box-login{
        position: fixed;
        top:35%;
        bottom: 25%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
      }
      
        ion-input {
          ::placeholder{
          text-align: center;
          }
          // color: white;
          border-radius: 20px 20px;
          background: rgb(179, 204, 236);
          margin-top: 5%;
        }

        .borda-circular{
          border-radius: 20px 20px;
          margin-top: 15%;
        }

      .footer{
        margin-top: 25%;
      }
      
}