chat {
    .alinhar_esquerda{
        margin-left:10%;
        margin-right:2%;
    }
    
    .alinhar_direita{
        margin-left:10%;
        margin-right:2%;
    }

    p{
        font-size: 16px;
    }
}
