<ion-header class="bg-dark">
  <ion-navbar color="transparent">
    <h1 *ngIf="anuncio" class="text-white">{{anuncio.nome}}</h1>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="anuncio">
    <ion-row justify-content-center>
      <img col-8 src="{{anuncio.imagem}}" class="text-center" #myImage (click)="openGalery(myImage)" />
      <!-- <galeria-de-fotos [imagens]="anuncio.imagem"></galeria-de-fotos> -->
      <!-- <label col-12 for="selecao-arquivo" class="btn btn-dark">
          Alterar Imagem
          <input readonly id='selecao-arquivo' class="form-group" type="file" accept="image/*" (change)="salvarArquivo(anuncio, $event)" />
        </label> -->
      <!-- <galeria-de-fotos [imagens]="anuncio.imagens"></galeria-de-fotos> -->
      <ion-item col-12 align-self-center>
        <b>Preço:</b><br><br>
        <p>R$ {{anuncio.preco}}</p>
      </ion-item>
      <ion-item col-12 align-self-center>
        <b>Descrição:</b><br><br>
        <p>{{anuncio.descricao}}</p>
      </ion-item>
      <ion-item col-12 align-self-center>
        <b>Tipo: {{anuncio.tipo}}</b><br><br>
        <p>Sexo: {{anuncio.filtros.sexo}}</p>
        <p>Idade: {{anuncio.filtros.idade}}</p>
        <p>Crianças: {{anuncio.filtros.criancas}}</p>
        <p>Animais: {{anuncio.filtros.animais}}</p>
      </ion-item>
      <ion-item col-12 align-self-center>
        <b>Anunciante:</b><br><br>
        <!-- <p *ngIf="anunciante">{{anunciante.nome}} {{anunciante.sobrenome}}</p> -->
      </ion-item>
    </ion-row>
    <div class="text-center">
      <ion-footer translucent no-border>
        <button ion-button color="dark" (click)="goChat()">
          <ion-icon name="paper-plane" class="mr-3"></ion-icon>Enviar Mensagem
        </button>
      </ion-footer>
    </div>
  </ion-grid>
</ion-content>