list {
    strong, small, p{
        word-break: normal;
        word-wrap: break-word;
        line-break: inherit;
    }

    strong{
        font-size: 17px;
    }

    small{
        font-size: 14px;
    }
    
    ion-note{
        font-size: 12px;
    }
}
