<ion-content padding class="animated fadeIn common-bg" (ionScroll)="onScroll($event)">
  <ion-row align-items-center no-margin margin-bottom *ngFor="let opt of options" class="border border-dark" (click)="goPerfil(opt)">
    <ion-col *ngIf="opt" col-4>
      <img *ngIf="opt.imagem" src="{{opt.imagem}}" />
    </ion-col>
    <ion-col *ngIf="opt" col-8 class="text-center">
      <strong>{{opt.nome}}</strong><br><br>
      <small>R$ {{opt.preco}}</small>
      <ion-item>
        <ion-note item-right> {{opt.tipo}}</ion-note>
        <ion-note item-left> {{opt.municipio}}</ion-note>
      </ion-item>
      <ion-note item-center> {{opt.data  | date:' d-MM-y h:mm a'}}</ion-note>
    </ion-col>
  </ion-row>
</ion-content>