<ion-header>
  <ion-navbar *ngIf="!search" color="blue-light" hideBackButton>
    <ion-row align-items-center>
      <ion-icon col-2 navPop name="arrow-round-back" class="text-center"></ion-icon>
      <h2 col-7 class=" font-hammer" align-self-items>{{title}}</h2>
      <ion-icon col-3 (click)="goSearch()" name="search" align-self-items class="text-center"></ion-icon>
    </ion-row>
  </ion-navbar>
  <ion-navbar *ngIf="search" color="blue-light" hideBackButton>
    <ion-row align-items-center class="text-center" col-12>
      <ion-icon col-2 (click)="goSearch()" name="arrow-round-back"></ion-icon>
      <ion-searchbar col-10 autocomplete="on" type="text" placeholder="Buscar" animated ionfocus (ionInput)="getItems($event)"
        value="">
      </ion-searchbar>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="text-primary">{{name}}</h2>
  <list [lista]="objectList"></list>
</ion-content>