page-info {
    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }

    ul{
        text-align: start;
        list-style-type: square;
    }
}
