<ion-menu id="main" [content]="content" (ionOpen)="loadPerfil()">
  <ion-content padding class="bg-principal">
    <ion-row justify-content-center *ngIf="perfil">
      <ion-col col-6 *ngIf="perfil.imagem">
        <img [ngStyle]="altura" class="img-circular" src="{{perfil.imagem}} | ../assets/imgs/usuario.png" alt="Alterar Imagem" />
      </ion-col>
      <ion-col col-12 class="text-center text-white mt-2">
        <h2>{{perfil.nome}} {{perfil.sobrenome}}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="mt-5">
      <ion-col col-12 ion-item no-lines *ngFor="let p of pages" menuClose (click)="openPage(p)" style="background: transparent; color: white">
        <ion-icon name="{{p.icon}}" class="mr-3"></ion-icon>
        {{p.title}}
      </ion-col>
    </ion-row>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeEnabled="false"></ion-nav>