<ion-header>
  <header [title]="'Cadastre-se'" [hideButton]="true"></header>
</ion-header>
<ion-content>
  <form *ngIf="form" [formGroup]="form" class="container-fluid mt-3 form">
    <div class="container">
      <ion-item class="form-group">
        <ion-label class="text-primary">Nome:</ion-label>
        <ion-input formControlName="nome" type="text" autocomplete="on" placeholder="Digite seu nome">
        </ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Sobrenome:</ion-label>
        <ion-input formControlName="sobrenome" type="text" autocomplete="on" placeholder="Sobrenome">
        </ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Data de Nascimento:</ion-label>
        <ion-datetime min="1940" max="2080-10-31" displayFormat="DD/MM/YYYY" doneText="Confirmar" cancelText="Cancelar"
          formControlName="data"></ion-datetime>
        <!-- <ion-input formControlName="data" type="date" max="9999-12-12"> -->
        <!-- </ion-input> -->
      </ion-item>
      <ion-item>
        <ion-label class="text-primary">Telefone:</ion-label>
        <ion-input type="text" formControlName="telefone" placeholder="(xx) xxxxx-xxxx" [brmasker]="{phone: true}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="text-primary">CPF:</ion-label>
        <ion-input type="text" formControlName="cpf" placeholder="000.000.000-00" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
      </ion-item>
      <ion-item class="form-group" *ngIf="_usuario == 'paciente'">
        <ion-label class="text-primary">Peso(kg):</ion-label>
        <ion-input formControlName="peso" type="text" [brmasker]="{money: true, decimal: 1}" autocomplete="on"
          placeholder="78.5"></ion-input>
      </ion-item>
      <ion-item class="form-group" *ngIf="_usuario == 'paciente'">
        <ion-label class="text-primary">Altura(cm):</ion-label>
        <ion-input formControlName="altura" type="text" [brmasker]="{money: true, mask:'000 cm', len:3}" autocomplete="on"
          placeholder="174 cm"></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Município:</ion-label>
        <ion-input formControlName="cidade" type="text" autocomplete="on" placeholder="Brasilia"></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Estado</ion-label>
        <ion-select formControlName="estado">
          <ion-option *ngFor="let uf of _estados" [value]="uf.nome">{{uf.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-group" *ngIf="_usuario == 'profissional'">
        <ion-label class="text-primary">Profissão:</ion-label>
        <ion-select formControlName="profissao" multiple="true">
          <ion-option *ngFor="let prof of profissao">{{prof.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary bg">Especialidades</ion-label>
        <ion-select formControlName="especialidades" multiple="true">
          <ion-option *ngFor="let espec of especialidades">{{espec.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-group" *ngIf="_usuario == 'profissional'">
        <ion-label class="text-primary">Código do Conselho:</ion-label>
        <ion-input formControlName="cr" type="text" autocomplete="on" placeholder="CRM-00239132"></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Email:</ion-label>
        <ion-input formControlName="email" type="email" autocomplete="on" placeholder="exemplo@email.com"></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Senha:</ion-label>
        <ion-input formControlName="senha" max-lenght="8" type="password" autocomplete="off" placeholder="*****"></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label class="text-primary">Confirmar Senha:</ion-label>
        <ion-input formControlName="confirmarSenha" max-lenght="8" type="password" autocomplete="off" placeholder="*****"></ion-input>
      </ion-item>
      <ion-item *ngIf="formInvalido != ''" class="form-group text-center">
        <small class="text-danger">
          {{formInvalido}}
        </small>
      </ion-item>
    </div>
    <div class="text-center mt-5">
      <button ion-button class="btn btn-primary mr-2" (click)="registrar()">Cadastrar-se</button>
      <button ion-button class="btn btn-primary" (click)="goPage()">Sair</button>
    </div>
  </form>
</ion-content>