<form *ngIf="form" [formGroup]="form">
  <ion-list class=" mt-3">
    <ion-item class="form-group">
      <ion-label class="text-primary">Nome:</ion-label>
      <ion-input formControlName="nome" type="text" autocomplete="on" placeholder="Digite seu nome">
      </ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Data de Nascimento:</ion-label>
      <ion-input formControlName="data" type="date" max="9999-12-12">
      </ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Imagem:</ion-label>
      <ion-input formControlName="imagem" type="file" (change)="salvarArquivo($event)">
      </ion-input>
    </ion-item>
    <ion-item class="form-group" *ngIf="_usuario == 'paciente'">
      <ion-label class="text-primary">Peso:</ion-label>
      <ion-input formControlName="peso" type="text" autocomplete="on" placeholder="78"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Município:</ion-label>
      <ion-input formControlName="cidade" type="text" autocomplete="on" placeholder="Brasilia"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Estado</ion-label>
      <ion-select formControlName="estado">
        <ion-option *ngFor="let uf of _estados" [value]="uf.nome">{{uf.sigla}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="form-group" *ngIf="_usuario == 'profissional'">
      <ion-label class="text-primary">Profissão:</ion-label>
      <ion-input formControlName="profissao" type="text" autocomplete="on" placeholder="Educador Físico"></ion-input>
    </ion-item>
    <ion-item class="form-group" *ngIf="_usuario == 'profissional'">
      <ion-label class="text-primary">Código do Conselho:</ion-label>
      <ion-input formControlName="cr" type="text" autocomplete="on" placeholder="CRM-00239132"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Email:</ion-label>
      <ion-input formControlName="email" type="email" autocomplete="on" placeholder="exemplo@email.com"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Senha:</ion-label>
      <ion-input formControlName="senha" max-lenght="8" type="password" autocomplete="off" placeholder="*****"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label class="text-primary">Confirmar Senha:</ion-label>
      <ion-input formControlName="confirmarSenha" max-lenght="8" type="password" autocomplete="off" placeholder="*****"></ion-input>
    </ion-item>
    <ion-item *ngIf="senhaInvalida" class="form-group" text-center>
      <small class="text-danger">
        Senhas diferentes
      </small>
    </ion-item>
    <ion-item *ngIf="formInvalido" class="form-group text-center">
      <small class="text-danger">
        Preencha os Campos Obrigatórios!!
      </small>
    </ion-item>
  </ion-list>
  <div class="text-center mt-5 mb-3">
    <button type="button" class="btn btn-primary mr-2" (click)="registrar()">Cadastrar-se</button>
    <button type="button" class="btn btn-primary" (click)="goPage()">Sair</button>
  </div>
</form>