<ion-header>
  <header [title]="'Chat'" [hideButton]="true"></header>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="lista.length >= 1" class="container">
    <ion-row align-items-center justify-content-center *ngFor="let conversa of lista; let i = index;" (click)="goChat(conversa)"
      class="border-bottom border-secundary">
      <ion-col col-2 align-self-center>
        <img *ngIf="conversa.imagem" src="{{conversa.imagem}}" class="img-circular" />
      </ion-col>
      <ion-col col-10 align-self-center>
        <strong col-12 align-self-center>{{conversa.nomeAnuncio}}</strong>
        <ion-item *ngIf="listMsg[i]">
          <ion-note *ngIf="listMsg[i].data" item-right> {{listMsg[i].data | date:'h:mm a'}}</ion-note>
          <ion-note *ngIf="listMsg[i].user" item-left> {{listMsg[i].user.nome}}</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <div *ngIf="lista.length < 1" class="box-center">
    <ion-row justify-content-center>
      <ion-col col-6 class="mb-5">
        <img src="../../assets/icon/chat.svg" />
      </ion-col>
      <ion-col col-12>
        <h2>Você não tem chats ativos</h2>
        <h4 class="text-center">Assim que uma conversa for iniciada, será exibida aqui.</h4>
      </ion-col>
    </ion-row>
  </div>
</ion-content>