<ion-header>
  <header [title]="objeto.nome"></header>
</ion-header>

<ion-content padding>
  <ion-scroll scrollY="true" style="width:100%; height:100%">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-row *ngIf="objeto.imagem" justify-content-center>
          <ion-col col-6 *ngFor="let object of objeto.imagem" class="mb-3">
            <img *ngIf="object" src="{{object}}" [ngStyle]="render.getMedidas(0.3, 1)" #myImage (click)="presentImage(myImage)">
          </ion-col>
        </ion-row>
        <ion-col *ngIf="objeto.descricao" col-12>
          <p class="text-center mb-3 mt-3">{{objeto.descricao}}</p>
        </ion-col>
        <ion-col col-12>
          <ion-list *ngIf="objeto.filhos" class="mb-5">
            <div *ngFor="let object of objeto.filhos" class="alert bg-violet mb-2" role="alert" (click)="openPage(object)">
              <strong>{{ object.nome }}</strong>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-content>