page-acount {
    ion-icon{
        font-size: 22px;
        color: white;
    }


    ion-input{
        font-size: 17px;
        :focus{
            border-bottom: 1px solid rgb(71, 165, 228);
        }
    }

    strong{
        font-size: 13px;
    }
    
    input[type='file'] {
        display: none
    }

    .margin{
        margin-bottom: 5%;
        margin-top: 5%;
    }
}
