<ion-content class="bg-principal">
  <ion-navbar color="transparent" hideBackButton="false">
  </ion-navbar>
  <ion-grid padding class="box">
    <ion-row justify-content-center col-12>
      <ion-col col-12>
        <h1 class="text-white">Como deseja se cadastrar??</h1>
        <button ion-button color="dark" block (click)="registrar('profissional')" class="borda-circular">Profissional</button>
        <button ion-button color="dark" block (click)="registrar('paciente')" class="borda-circular">Paciente</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>