<ion-header>
  <!-- <ion-navbar  color="primary" class="text-center" >
    <ion-title>Cadastro</ion-title>
  </ion-navbar> -->
  <ion-segment class="border border-primary" [(ngModel)]="_usuarioSelecionado">
    <ion-segment-button value="paciente" class="text-white bg-primary">
      Paciente
    </ion-segment-button>
    <ion-segment-button value="profissional" class="text-white bg-primary">
      Profissional
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <profissional-form [usuario]="_usuarioSelecionado"></profissional-form>
</ion-content>